/* contactanos.css */

.contact-container {
  max-width: 400px;
  margin: 50px auto; /* Centrado vertical y horizontal */
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex; /* Cambio */
  flex-direction: column; /* Cambio */
  align-items: center; /* Centrado horizontal */
}

.contact-container h2 {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
  font-size: 24px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrado horizontal */
  width: 100%; /* Ajustar al ancho del contenedor */
}

.contact-container label {
  margin-bottom: 10px;
  color: #555555;
  width: 100%; /* Ajustar al ancho del contenedor */
  text-align: left; /* Alinear el texto a la izquierda */
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  width: 100%; /* Ajustar al ancho del contenedor */
  box-sizing: border-box; /* Incluir padding y borde en el ancho */
}

.contact-container textarea {
  min-height: 120px;
}

.contact-container input[type="text"]:focus,
.contact-container input[type="email"]:focus,
.contact-container textarea:focus {
  outline: none;
  border-color: #007bff;
}

.contact-container button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.contact-container button:hover {
  background-color: #0056b3;
}

/* Ajuste del ancho del campo de correo electrónico */
.contact-container input[type="email"] {
  width: calc(100% - 24px); /* Se reduce 24px para igualar al resto */
}
