/* CSS para MisReservas */

.mis-reservas-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .mis-reservas-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
  }
  
  .mis-reservas-table th, .mis-reservas-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .mis-reservas-table th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para los botones */
  .mis-reservas-container button {
    background-color: rgb(252, 71, 71);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .mis-reservas-container button:hover {
    background-color: rgba(248, 16, 16, 0.842);
  }
  