/* Estilos para el componente Reservar */


.datepicker-container {
  width: 100%; 
  max-width: 500px;
  margin: 50px auto; 
}


.react-datepicker__month-container {
  background-color: #e9eff0;
}


.react-datepicker__day--selected {
  background-color: #a8a8a8;
  color: #ffffff;
}


.react-datepicker__day--available {
  background-color: #4caf50;
  color: #ffffff;
}


.react-datepicker__header {
  background-color: #e7e7e7; 
  color: #ffffff; 
}


.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li {
  background-color: #f0f4f5; 
}


.containerR {
  width: 90%; 
  margin: 50px auto; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}


.botonRe {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.barber-select-container,
.style-select-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 10px; 
}

.barber-select-container select,
.style-select-container select {
  padding: 3px 5px; 
  margin-top: 5px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px; 
  width: calc(30% - 5px); 
}

.barber-select-container select:focus,
.style-select-container select:focus {
  outline: none;
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}



.barber-select-container select::-ms-expand,
.style-select-container select::-ms-expand {
  display: none; 
}



@media screen and (max-width: 600px) {
  .containerR {
    width: 100%;
    padding: 20px; 

  }
  
}


@media screen and (min-width: 768px) {
  .containerR {
    max-width: 800px; 
  }
}
