
.datepicker-container {
  width: 600px; /* Ajusta el ancho del contenedor según tus necesidades */
  height: 800px; /* Ajusta la altura del contenedor según tus necesidades */
}

/* Cambia el color de fondo del calendario */
.react-datepicker__month-container {
  background-color: #E0EDEE; 
}



/* Cambia el color de fondo del día seleccionado */
.react-datepicker__day--selected {
  background-color: #347377; 
  color: #ffffff; 
}

/* Cambia el color de fondo de los días disponibles */
.react-datepicker__day--available {
  background-color: #4caf50; 
  color: #ffffff; 
}
.react-datepicker__header {
  background-color: #84AFBF; /* Cambia el color de fondo según tus preferencias */
  color: #ffffff; /* Cambia el color del texto según tus preferencias */
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li {
  background-color: #E0EDEE; /* Cambia el color de fondo según tus preferencias */
}

.button-container {
  margin-top: 20px; /* Espacio entre el calendario y el botón */
}

.button-container button {
  padding: 10px 20px; /* Espacio interno del botón */
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Borde redondeado del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.button-container button:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el cursor */
}