/* Login.css */

.login {
  max-width: 400px; /* Reducido el ancho máximo para centrarlo mejor */
  margin: 50px auto;
  padding: 30px; /* Aumentado el padding para más espacio alrededor del formulario */
  border-radius: 10px; /* Aumentado el radio de borde para suavizar las esquinas */
  background-color: #fff; /* Cambiado el color de fondo a blanco */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Añadida una sombra suave */
}

.login h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px; /* Aumentado el espacio entre el título y el formulario */
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  margin-bottom: 10px;
  color: #333;
}

.login input[type="text"],
.login input[type="password"] {
  padding: 15px; /* Aumentado el padding para hacer los campos de entrada más grandes */
  margin-bottom: 20px; /* Aumentado el espacio entre los campos */
  border: 1px solid #ccc;
  border-radius: 8px; /* Reducido el radio de borde para suavizar las esquinas */
  font-size: 16px; /* Ajustado el tamaño de fuente */
}

.login button {
  padding: 15px 30px; /* Aumentado el padding para hacer el botón más grande */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px; /* Reducido el radio de borde para hacer el botón más redondeado */
  cursor: pointer;
  font-size: 16px; /* Ajustado el tamaño de fuente */
}

.login button:hover {
  background-color: #0056b3;
}

.register-link {
  text-align: center;
  margin-top: 20px; /* Aumentado el espacio entre el formulario y el enlace de registro */
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.la {
  margin-bottom: 20px; /* Aumentado el espacio entre el enlace de registro y el botón */
}

.error {
  color: rgb(255, 46, 46);
  margin-top: 20px; /* Aumentado el espacio entre el mensaje de error y el botón */
}
