/* Login.css */

.login {
  max-width: 50%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  margin-bottom: 5px;
  color: #555;
}

.login input[type="text"],
.login input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #0056b3;
}

.login .register-link {
  text-align: center;
  margin-top: 10px;
}

.login .register-link a {
  color: #007bff;
  text-decoration: none;
}

.login .register-link a:hover {
  text-decoration: underline;
}

.la {
  margin-bottom: 10px;
}

.error {
  color: rgb(255, 46, 46);
  margin-top: 10px;
}