.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto centra verticalmente el contenido */
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login label {
    margin-bottom: 5px;
  }
  
  .login input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px; /* Puedes ajustar el ancho según tu diseño */
    border-radius: 5px; /* Redondea las esquinas */
  }
  
  .login button {
    padding: 10px 20px;
    background-color: #007bff; /* Puedes ajustar el color según tu diseño */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Redondea las esquinas */
  }
  
  .login button:hover {
    background-color: #0056b3; /* Puedes ajustar el color del hover según tu diseño */
  }
  .login a {
    text-decoration: underline; /* Subraya el enlace */
    margin-bottom: 10px; /* Añade espacio entre el enlace y el botón */
  }