

/* Footer.css */

.footer {
  background-color: #f8f9fa;
  color: #333;
  padding: 20px;
  text-align: center;
  /* Asegura que el footer ocupe todo el ancho de la página */
  width: 100%;
  position: fixed; /* Fija el footer en la parte inferior de la pantalla */
  bottom: 0; /* Alinea el footer en la parte inferior */
  left: 0; /* Asegura que el footer comience desde el lado izquierdo */
  z-index: 2000;
}
