.header {
    display: flex;
    flex-direction: column; /* Cambia la dirección del layout a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: flex-start; /* Alinea los elementos al principio del contenedor */
    padding: 20px;
  }
  
  .logo {
    margin-bottom: 20px; /* Ajusta el espacio entre el logo y el menú */
  }
  
  .logo img {
    height: 7em; /* Ajusta la altura del logo según sea necesario */
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline;
    margin-right: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
  }
  
  .menu li a:hover {
    color:  rgb(45, 104, 231);
  }
  